body {
    background-color: #1a1a1a;
    background-image: url('./images/portalWall2.png');
    background-repeat: repeat;
    /* background-position: center, center; */
    background-attachment: fixed;
    background-size: 8%;
    display: flex;
    justify-content: center;
    font-family: "Orbitron", sans-serif;
}
#wrapper {
    background-color: #f0f0f0;
    width: 80%;
    border: #1a1a1a 5px solid;;
}
header {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    height: 200px;
}
#logo {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 15px;
}
h1 {
    margin: auto;
}
nav {
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-around;
    height: 50px;
}
nav a {
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: #f0f0f0;
    background-color: #1a1a1a;
    width: 100%;
    height: 100%;
}
nav a:hover {
    background-color: #666666;
}
main {
    margin-top: 50px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    justify-items: center;
}
a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin: 40px;
}
section {
    display: flex;
    border: #1a1a1a 2px solid;
    border-radius: 15px;
    width: 80%;
    aspect-ratio: 3 / 2;
    text-align: center;
    margin: auto;
}
section:hover {
    box-shadow: 0 0 10px #666666;
}
section div {
    font-size: 2vw;
    background-color: #1a1a1a;
    color: #f0f0f0;
    border-radius: 10px;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#wwr {
    background-image: url(./wwr/images/hero.png);
    background-size: cover;
}
#ice {
    background-color: white;
    background-image: url('./images/glacier.png');
    background-color: cover;
}
#about {
    background-image: url(./images/xcPhoto.jpg);
    background-size: cover;
}
#form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    max-width: 500px;
}
#name{
    grid-column: 0;
    grid-row: 0;
}
#email{
    grid-column: 2;
    grid-row: 0;
}
#feedback{
    grid-row: 2;
}
footer {
    height: 100px;
    padding: 10px;
    text-align: center;
     font-family: "Inter", sans-serif;
}