body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
}
#wrapper {
    background-color: #f0f0f0;
    width: 80%;
}
header {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    height: 200px;
}
h1 {
    margin: auto;
}
nav {
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: #f0f0f0;
}
footer {
    height: 100px;
    padding: 10px;
    text-align: center;
}
#form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    max-width: 500px;
}
#name{
    grid-column: 0;
    grid-row: 0;
}
#email{
    grid-column: 2;
    grid-row: 0;
}
#feedback{
    grid-row: 2;
}