@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Gemstones&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #FE4A49; */
    color: white;
    text-decoration: none;
}
nav a:hover{
    background-color: #FED766;
    color: white;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
}
.button-box {
    text-align: center;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #646536;
}
body {
    background-color: white;
    font-family: "Funnel Sans", Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
header {
    background-color: #6D9DC5;
    opacity: 0.9;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-evenly;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.home-title {
    color: black;
    font-family: "Rubik Gemstones", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.book, .join {
    background-color: #4b4b29;
    color: white;
    text-decoration: none;
    font-size: 1.8em;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.book:hover, .join:hover {
    background-color: #3b3b19;
    color: white;
}
h2 {
    margin: 0;
}
.msg {
    background-color: #4b4b29;
    line-height: 1.5em;
}
.msg h2 {
    color: white;
    font-family: "Rubik Gemstones", Helvetica, sans-serif;
}
.msg p {
    color: white;
}
footer {
    background-color: #4b4b29;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: blue;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p:hover {
    text-decoration: underline;
}
footer a:hover {
    color: #FED766;
}
.logo {
    width: 80px;
}
.icon {
    width: 50px;
}
.card-img {
    border: 10px solid #646536;
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: 0.6;
    transform: scale(1.1);

}
.card-img, .mountains {
    width: 100%;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains {
    /* grid-area: 2/5/7/8; */
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    grid-area: 6/6/7/10;
    background-color: #6f7364;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
        text-align: center;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            