#photo {
    width: 90%;
    border: 5px solid black;
    border-radius: 15px;
    grid-column: 2;
    align-self: center;
}
h1 {
    grid-column: 1/3;
    padding-bottom: 20px;
}
ul {
    grid-column: 1;
    align-self: center;
}
li {
    padding: 10px;
    font-size: 20px;
}
#aboutMain {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 90%;
    padding-bottom: 100px;
}